*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* navbar here start */
#subnavbar ul li a{
  color: #000;
  font-family: Gill Sans Nova;
}

#togl-icon2{
  position: relative;
}
#logo2 img{
   position: absolute;
  left: 150px; 
  top: 5px;
  height: 60px;
  width: 190px;
 filter: contrast(2);
  
}
.offcanvas-title{
  display: flex;
  justify-content: center;
  width: 100%;
}
.offcanvas-title img{
  height: 80px;
  width: 240px;
}
.offcanvas-body::-webkit-scrollbar{
  width: 0;
}
#signbtn{
  padding: 5px;
  background-color: white;
  border-top-left-radius: 20px;
  border: none;
  outline: none;
  position: absolute;
  right: 59px;
  transition: 0.3s;
}
#signbtn:hover{
  background-color: rgb(85, 84, 84);
  color: white;
}
#logbtn{
  padding: 5px;
  background-color: whitesmoke;
  color: rgb(55, 54, 54);
  border-radius: 10px;
  border: none;
  outline: none;
 position: relative;
 transition: 0.3s;
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-weight: 700;
}
#logbtn:hover{
   background-color: rgb(70, 70, 70);
  color: whitesmoke;
}
.loginbtns2{
  display: none;
}
@media (max-width:867px) {
  #searchbar {
    display: none;
  }
  #searchbar2 {
    display: block;
  }
  #searchbar input {
    display: none;
  }
  #searchbar2 input {
    display: block;
  }
  #searchbar button {
    display: none;
  }
  #searchbar2 button {
    display: block;
  }
  #subnav{
    top: 50px;
  }
  #logo2 img{
    height: 40px;
    width: 165px;
  }
}  
@media (min-width:867px){
  #searchbar2 {
    display: none;
  }
}
@media (max-width:576px) {
  .loginbtns{
    display: none;
  }
  .loginbtns2{
    display: block;
  }
}
body{
  background-image: url(images/google\ watermark.png);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
#banner{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 680px;
  top: 0;
  filter: brightness(0.7);
}
#team-text{
  position: absolute;
  top: 0;
  color: #f0f0f0;
}
#team-text h1{
  margin-top: 20rem;
  font-size: 53px;
  font-weight: bolder;
  color: #f0f0f0;
  text-transform: uppercase;
  font-family: Gill Sans Nova;
}
    @media only screen and (max-width: 768px){
      #banner-text p{
        font-size: 10px;
        margin-left: 1rem;
      }
      #banner{
        background-image: url(images/banner-min.png);
        background-position: center;
      }
      #banner-text button{
        width: 21%;
        height: 3rem;
        margin-left: 1rem;
      }
      #banner-text h1{
        margin-left: 1rem;
      }
    }
/* <---------------------iphone company-------------------------> */

#iphonemn #iphocol{
  cursor: pointer;
  border-radius: 15px;
  width: 300px;
  height: 380px;
  margin: 15px;
transition: 0.5s;
border-radius: 20px;
background: #ebe9e9;
box-shadow:  0px 0px 0px #c1c1c12a;
}
#iphonemn #iphocol:hover{
  border-radius: 20px;
  background: #f9f4f4;
  box-shadow:  17px 17px 34px #c1c1c17a;

}
#iphoneprod  .iphonam{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 300;
}
#iphocol{
 text-align: center;
  align-items: center;
}
#iphoneprod   img:hover{
  transform: scale(1.1);
}
#iphocol h5{
  margin: 25px;
  display: flex;
  justify-content: center;
  border-bottom: 1px black solid;
  border-top: 1px black solid;
  letter-spacing: 3px;
  color: #000;
}
#iphocol p{
  display: flex;
  justify-content: center;
  border-left: 1px black solid;
  border-right: 1px black solid;
  margin-left: 50px;
  margin-right: 50px;
  letter-spacing: 6px;
}
#iphocol img{
margin-top: 10px;
height: 50%;

}
#link {
  text-decoration: none;
  color: #000;
}
#iphocol{
  position: relative;
}
.view{
  width: 110px;
  height: 40px;
  border: none;
  outline: none;
  background-color: orange;
  border-radius: 5px;
  cursor: pointer;
}
.view a{
  text-decoration: none;
  color: #f9f4f4;
  font-size: 13px;
  font-weight: bolder;
}
.abc{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: orange;
  
}


.abc h3{
 font-size: 17px;
 padding: 4px;
}
 /* footer start */
 footer{
  margin-top: 4rem;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
}
#mylinks a, #my-links a{
  text-decoration: none;
color:  rgb(65, 65, 65);
} 
/* footer End *